.GridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5em;
}
.PaginationContainer {
  width: 100%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 900px) {
  .PaginationContainer {
    width: 350px;
  }
}
.Title {
  text-align: center;
  font-family: "Handlee", cursive;
}
